/* @import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@font-face {
  font-family: nhi-Elight;
  src: url(../fonts/BarlowSemiCondensed-ExtraLight.ttf);
  font-weight: 500;
}
@font-face {
  font-family: nhi;
  src: url(../fonts/BarlowSemiCondensed-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: nhi-bold;
  src: url(../fonts/BarlowSemiCondensed-Bold.ttf);
}
@keyframes move {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@font-face {
  font-family: nhi-thin;
  src: url(../fonts/BarlowSemiCondensed-Thin.ttf);
}
header .favicon {
  height: 16px;
  width: 16px;
}
html {
  scroll-behavior: smooth;
}
* {
  /* font-family: "Barlow Semi Condensed", sans-serif; */
  font-family: nhi-eLight;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -1px;
}
a {
  text-decoration: none;
  color: black;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

.container {
  max-width: 72em;
  margin: 0 auto;
  padding: 0 0.9375rem;
  position: relative;
}
img,
svg {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}
/* Loader */
#loading {
  position: absolute;
  left: 50%;
  top: 5%;
  z-index: 1;
  height: 1rem;
  width: 1rem;
}
#loading-image {
  height: 3rem;
  width: 3rem;
}

#myDiv {
  display: none;
  text-align: center;
}
/* Navbar */
.navbar {
  background-color: var(--dark);
  padding: 0.1rem 1rem 0.16rem 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  height: 60px;
}
.navbar .logo img {
  height: 60px;
}
.navbar .login .btn_logIn {
  background-color: var(--primary);
}
.navbar .login .btn_logIn:hover {
  background-color: #0069d9;
}
.btn {
  display: inline-block;
  text-align: center;
  font-family: nhi-thin;
  vertical-align: middle;
  color: white;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.25rem;
  font-size: 1rem;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  letter-spacing: -0.721px;
  cursor: pointer;
}
.navbar .login button img {
  height: 24px;
}
.banner {
  background-image: url(../image/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 47.75rem;
  position: relative;
}
.banner .content {
  padding: 20px 0;
  text-align: center;

  color: white;
}
.banner .title-text {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
  letter-spacing: 0.29rem;
  padding: 0px 10%;
  white-space: nowrap; /* Keeps the content on a single line */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.banner .sub-title {
  padding: 10px 0px 50px 0px;
  font-size: 1.26rem;
  font-weight: 500;
  letter-spacing: -0.72px;
  margin-bottom: 0.5rem;
}
.btn_startNow {
  background-color: var(--green);
}
.btn_startNow:hover {
  background-color: #1a6b2d;
}
.startNow {
  padding-top: 24.1rem;
  margin-bottom: 1rem;
}
.title {
  margin-bottom: 8px;
  text-align: center;
}
.container .title-text {
  display: inline-block;
  padding: 0.46875rem 0.75rem;
  font-size: 1.875rem;
  background-color: var(--red);
  color: white;
  font-weight: bolder;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -1.11px;
  border-radius: 0.25rem;
}

.container .card .card-custom .ribbon {
  position: absolute;
  right: -3px;
  top: -3px;
  z-index: 1;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: right;
}
.container .card .card-custom .ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border-width: 3px;
  border-style: solid;

  /* .container .nT_content .card .card-custom .ribbon::after { */
  right: 0;
  border-color: #8f0808 #8f0808 transparent transparent;
}
.container .card .card-custom .ribbon span {
  position: absolute;
  display: block;
  font-size: 10px;
  background: linear-gradient(#f70505, #8f0808);
  box-shadow: 0 1px 10px -4px #000;
  top: 6px;
  right: -35px;
  color: #fff;
  font: nhi;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  width: 100px;
}
/* top right  */
.container .card .card-custom .ribbon-top-right {
  top: -3px;
  right: -3px;
}
.container .card .card-custom .ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
}
.container .card .card-custom .ribbon-top-right::before {
  top: -3px;
  right: 35px;
}
.container .card .card-custom .ribbon-top-right::after {
  bottom: 1px;
  right: 0px;
}
.container .card .card-custom .ribbon-top-right span {
  right: -34px;
  top: 8px;
  transform: rotate(45deg);
}

.container .nT_content {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-right: -15px;
  margin-left: -15px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}
.navTool .container .nT_content {
  flex-wrap: wrap;
}
.container .nT_content .card4 {
  margin-left: 17%;
}
.navTool .container .nT_content .card {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.container .nT_content .card {
  padding: 0 15px;
  text-align: center;
  min-height: 1px;
}
.container .card .card-custom {
  border-radius: 0.25rem;
  border: 1px solid var(--red);
  margin: 15px 0px;
  box-shadow: 5px 5px 10px 0 #a5b3b3;
  position: relative;
}
.container .card .card-custom:hover {
  box-shadow: 5px 5px 10px 0 #383d3d;
}

.container .card .card-image {
  width: 100%;
}

.container .card .card-title {
  font-family: nhi;
  margin-bottom: 12px;
  font-size: 1.5rem;
  color: var(--red);
}
.container,
.card .card-content {
  padding: 20px;
}
.container .card .card-text {
  font-family: nhi;
  text-align: left;
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: -1px;
}
#btn_onTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 2.5px 10px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 24px; /* Increase font size */
}

#btn_onTop:hover {
  background-color: rgb(204, 15, 15); /* Add a dark-grey background on hover */
}
.infor {
  background-color: #f7f8fa;
  color: #4b505e;
  padding: 48px;
}
.infor .infor_Title h1 {
  font-size: 38px;
  font-family: nhi;
}
.infor .infor_content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: -15px;
  margin-left: -15px;
}
.infor .infor_content .infor_image {
  width: 150%;
  height: auto;
  padding: 0 15px;
}
p {
  padding-bottom: 12px;
  letter-spacing: 0.1px;
  line-height: 24px;
}
h3 {
  font-size: 28px;
  font-family: nhi;
  padding-bottom: 12px;
}
.infor .infor_content .infor_text .startNow {
  padding: 6px 12px;
  text-align: center;
}
.deterTarget .container .nT_content .card1 {
  margin-left: 170px;
}
.deterTarget .container .nT_content .card2 {
  margin-right: 170px;
}

.deterTarget .container .nT_content .card {
  flex-wrap: nowrap;
}
li {
  list-style: none;
  color: #4b505e;
  padding-bottom: 13px;
}
li a:hover {
  color: var(--primary);
}
.footer {
  border-top: 1px solid black;
}
.footer .top {
  padding: 30px 0 220px;
  position: relative;
  overflow-x: hidden;
}
.footer .top .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #4b505e;
  position: relative;
}
.title-i {
  padding-bottom: 15px;
}
.footer .top .title-text {
  font-size: 21px;
  padding: 5px 8px;
}
.footer .top .item1 .title-text {
  background-color: var(--primary);
}
.footer .top .item2 .title-text {
  background-color: var(--green);
}
.footer .top .item {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.footer .top .item1 {
  width: 200%;
}
.footer .top .item1 span {
  font-family: nhi;
  font-size: 14px;
}
.footer .top .item3 {
  display: inline-block;
}
.footer .top .item3 img {
  width: 44px;
  height: 44px;
}
.footer .top .bg {
  background-image: url("../image/footer_bg.png");
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 266px;
}
.footer .top .bg .cycle {
  background: url("../image/cyclist.gif") no-repeat 50%;
  width: 330px;
  height: 105px;
  background-repeat: no-repeat;
  background-size: 25%;
  position: absolute;
  bottom: 0;
  left: 30%;
  animation: move 19s linear infinite;
}
.footer .top .bg .volk {
  background: url("../image/volks.gif") no-repeat 50%;
  width: 330px;
  height: 105px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  animation: move 18s linear infinite;
}
.footer .bottom {
  color: #7f88a6;
  padding: 0 0 20px;
  text-align: center;
  letter-spacing: 0.2px;
  font-size: 16px;
}
